<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2021.3.1" targetFramework="net452" />
  <package id="IronPdf.Assets.Rendering.Windows" version="22.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="RestSharp" version="106.11.7" targetFramework="net452" />
</packages>